{% extends 'mysite/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализы</title>
</head>
<body>
{% block content %}


         <p>Фамилия пациента</p>{% for names in patients %}{{ names.name }}{% endfor %}


         <p>Гемоглобин ---<br>{% for h in hemoglobin %}{{ h.date }}<br>{{ h.hemoglobin }}<br>{% endfor %}</p>
         <p>Лейкоциты ---<br>{% for l in date %}{{ l.date }}<br>{{ l.leukocyte }}<br>{% endfor %}</p>
         <p>Систолическое АД ---<br>{% for s in date %}{{ s.date }}<br>{{ s }}<br>{% endfor %}</p>
         <p>Диастолическое АД ---<br>{% for d in date %}{{ d.date }}<br>{{ d }}<br>{% endfor %}</p>



{% endblock %}


</body>
</html>