{% extends 'mysite/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<ul>




    {% for dates in analise_list %}
     <li>

         <p>Фамилия пациента</p>{{ patient.name }}

         <p>Количество лейкоцитов ---{{ dates.leukocyte }}</p>
         <p>Гемоглобин ---{{ dates.hemoglobin }}</p>
         <p>Систолическое Ад --- {{ dates.sys_ad }}</p>
         <p>Диастолическое Ад --- {{ dates.dias_ad }}</p>

    </li>
    {% endfor %}
</ul>


{% endblock %}


</body>
</html>