{% extends 'mysite/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализы</title>
</head>
<body>

{% block content %}



         <p>Фамилия пациента  </p>


         <p>Гемоглобин ---<br>{% for analise in analise_list %}{{ analise.date }}<br>{{ analise.hemoglobin }}<br>{% endfor %}</p>
         <p>Лейкоциты ---<br>{% for analise in analise_list %}{{ analise.date }}<br>{{ analise.leukocyte }}<br>{% endfor %}</p>
         <p>Систолическое АД ---<br>{% for analise in analise_list %}{{ analise.date }}<br>{{ analise.sys_ad }}<br>{% endfor %}</p>
         <p>Диастолическое АД ---<br>{% for analise in analise_list %}{{ analise.date }}<br>{{ analise.dias_ad }}<br>{% endfor %}</p>



{% endblock %}


</body>
</html>