{% extends 'mysite/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content%}
<ul>
    {% for patient in patients_list %}
     <li>
         <a href="{% url 'detail' pk=patient.pk %}">{{ patient.name }} </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
<p>Количество пациентов --- {{ object_list.count }}</p>
<a href="{% url 'index' %}">Вернуться на главную страницу.</a><br>
<a href="{% url 'form' %}">На страницу формы.</a><br>


</body>
</html>