<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    {% for patient in patients_list %}
     <li>
         <a href="{% url 'detail' pk=patient.pk %}">{{ patient.name }} </a>
    </li>
    {% endfor %}
</ul>

<p>Количество пациентов --- {{ object_list.count }}</p>
<a href="{% url 'index' %}">Вернуться на главную страницу.</a><br>
<a href="{% url 'form' %}">На страницу формы.</a><br>
<a href="{% url 'form2' %}">На страницу формы 2.</a><br>
<a href="{% url 'form3' %}">На страницу формы 3.</a>,<br>
<a href="{% url 'create' %}">На страницу формы 4</a>
</body>
</html>