{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static "mysite/style.css" %}>

</head>
<body>
<header>

</header>

<ul>
    <li><a class="active" href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'patients' %}">Список пациентов</a></li>
    <li><a href="{% url 'create' %}">Добавить пациента</a></li>
    <li><a href="{% url 'max' %}">Статистика</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">

  <section>
    {% block content %}

    {% endblock %}
 </section>
</div>





</body>
</html>